$btn-has-outline: true !default;
$btn-has-radius: true !default;
$btn-has-circle: true !default;
$btn-has-skew: true !default;
$btn-hover-ripple-out: true !default;
$btn-hover-slide-up: true !default;

.btn,
button.btn,
a.btn {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--btn-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-style: var(--btn-font-style);
  height: var(--btn-height);
  line-height: var(--btn-height);
  outline: none;
  padding: var(--btn-padding);
  position: relative;
  text-decoration: none;
  text-transform: var(--btn-text-transform);
  transition: 300ms;
  user-select: none;
  white-space: nowrap;
  z-index: 0;

  &::before {
    background: var(--btn-bg);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 300ms;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    color: var(--btn-color-hover);

    &::before {
      background: var(--btn-bg-hover);
    }
  }

  &-sm {
    height: var(--btn-height-sm);
    line-height: var(--btn-height-sm);
    padding: 0 15px;
  }

  &-lg {
    height: var(--btn-height-lg);
    line-height: var(--btn-height-lg);
    padding: 0 30px;
  }

  &-block {
    display: block;
  }
}

@if $btn-has-outline == true {
  .btn-outline {
    color: var(--btn-outline-color);

    &::before {
      background: var(--btn-outline-bg);
      border: var(--btn-outline-border-width) solid var(--btn-outline-border-color);
    }

    &:hover {
      color: var(--btn-outline-color-hover);

      &::before {
        background: var(--btn-outline-bg-hover);
        border-color: var(--btn-outline-border-color-hover);
      }
    }
  }
}

@if $btn-has-radius == true {
  .btn-radius {
    border-radius: var(--btn-radius);

    &::before {
      border-radius: var(--btn-radius);
    }
  }
}

@if $btn-has-circle == true {
  .btn-circle {
    border-radius: var(--btn-height);

    &::before {
      border-radius: var(--btn-height);
    }

    &.btn-sm {
      border-radius: var(--btn-height-sm);
    }

    &.btn-lg {
      border-radius: var(--btn-height-lg);
    }
  }
}

@if $btn-has-skew == true {
  .btn {

    &-skew {
      transform: skew(var(--btn-skew-transform));

      > span {
        display: block;
        transform: skew(var(--btn-skew-transform-text));
      }
    }
  }
}

@if $btn-hover-ripple-out == true {
  @keyframes hvr-ripple-out {
    100% {
      top: var(--btn-hover-ripple-out-indent);
      right: var(--btn-hover-ripple-out-indent);
      bottom: var(--btn-hover-ripple-out-indent);
      left: var(--btn-hover-ripple-out-indent);
      opacity: 0;
    }
  }

  .btn-hover-ripple-out {
    &::after {
      animation-duration: var(--btn-hover-ripple-out-duration);
      border: var(--btn-outline-border-width) solid var(--btn-bg-hover);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    @if $btn-has-outline == true {
      &.btn-outline::after {
        border-color: var(--btn-outline-border-color-hover);
      }
    }

    @if $btn-has-radius == true {
      &.btn-radius::after {
        border-radius: var(--btn-radius);
      }
    }

    @if $btn-has-circle == true {
      &.btn-circle {
        &::after {
          border-radius: var(--btn-height);
        }

        &.btn-sm::after {
          border-radius: var(--btn-height-sm);
        }

        &.btn-lg::after {
          border-radius: var(--btn-height-lg);
        }
      }
    }

    &:hover::after {
      animation-fill-mode: forwards;
      animation-name: hvr-ripple-out;
      opacity: 1;
    }
  }
}

@if $btn-hover-slide-up == true {
  .btn-hover-slide-up {
    overflow: hidden;

    span:last-child {
      color: var(--btn-color-hover);
      height: 100%;
      left: 0;
      opacity: .5;
      position: absolute;
      text-align: center;
      top: 0;
      transform: translateY(100%);
      transition: var(--btn-hover-slide-up-duration);
      width: 100%;
      z-index: 0;

      &::before {
        background: var(--btn-bg-hover);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }

    &:hover {
      color: var(--btn-color);

      span:last-child {
        opacity: 1;
        transform: translateY(0);
      }

      &::before {
        background: var(--btn-bg);
      }
    }

    @if $btn-has-outline == true {
      &.btn-outline {
        span:last-child {
          color: var(--btn-outline-color-hover);

          &::before {
            background: var(--btn-outline-bg-hover);
            border: var(--btn-outline-border-width) solid var(--btn-outline-border-color-hover);
          }
        }

        &:hover {
          color: var(--btn-outline-color);

          &::before {
            background: var(--btn-outline-bg);
            border-color: var(--btn-outline-border-color);
          }
        }
      }
    }

    @if $btn-has-radius == true {
      &.btn-radius {
        span:last-child::before {
          border-radius: var(--btn-radius);
        }
      }
    }

    @if $btn-has-circle == true {
      &.btn-circle {
        span:last-child::before {
          border-radius: var(--btn-height);
        }

        &.btn-sm {
          span:last-child::before {
            border-radius: var(--btn-height-sm);
          }
        }

        &.btn-lg {
          span:last-child::before {
            border-radius: var(--btn-height-lg);
          }
        }
      }
    }
  }
}
